body {
    border: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.part {
    width: 90%;
    height: 10rem;
    margin: 1rem;
}

.part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blank1 {
    height: 1.76rem;
}

.font1 {
    color: #377e21;
    font-family: 黑体;
    font-size: 1.76rem;
    height: 1.76rem;
}

.line {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.part2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0px;
}

.container2 {
    height: 1.76rem;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
}

.font2 {
    flex: auto;
    font-family: 黑体;
    font-size: 1.17rem;
    height: 1.17rem;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    vertical-align: middle;
}

.font2_ex{
    margin-top: 0rem;
}

.font3 {
    font-family: 黑体;
    font-size: 1.76rem;
    height: 1.76rem;
}

.user {
    background-image: url(user.svg);
    background-size: 1.2rem;
    background-repeat: no-repeat;
    height: 1.2rem;
    width: 1.2rem;
    vertical-align: middle;
}

.type {
    background-image: url(type.svg);
    background-size: 1.2rem;
    background-repeat: no-repeat;
    height: 1.2rem;
    width: 1.2rem;
    vertical-align: middle;
}

.time {
    background-image: url(time.svg);
    background-size: 1.2rem;
    background-repeat: no-repeat;
    height: 1.2rem;
    width: 1.2rem;
    vertical-align: middle;
}

.text {
    height: 1.2rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0px;
}

.btn {
    display: flex;
    height: 2.35rem;
    width: 8.82rem;
    background-color: #58c1a5;
    border-radius: 0.15rem;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: 黑体;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 7px -3px gray;
}

.uestc {
    background-image: url(bg.png);
    background-size: 4.5rem;
    height: 4.5rem;
    width: 4.5rem;
    margin: 2.3rem;
}